img {
    width: 14em;
    margin-top: 48px;
    margin-left: 69px;
}
ul{
    text-align: center;
    margin-top: -2em;
    margin-left: 11em; 
}

li {
      padding: 3em;
      display: inline;
      width: 10em;
}
a{
    text-decoration: none;
}
.barracima{
    width: 106em;
    height: 17em;
    margin-left: -5em;
    margin-top: -5em;
    background-color: aquamarine;
}
ol {
    font-size: 13px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: -13em;
    margin-left: 75em;
}

.lista {
    margin-left: 0%;
    margin-top: 0%;
    text-align: justify;
    margin-block-start: 0%;
}
.galeria {
    margin-left: 400px;
    margin-top: 0%;
}
.barraimg {
    max-width: 774px;
    margin-left: 41%;
    margin-top: -3%;
}
.barralado{
    width: 13%;
    color: #fff;
    padding-left: 17px;
    height: 158vh;
    background-image: linear-gradient(30deg, #11cf4d, #a8eebe);
    
    
}

.menulado {
    font-size: 14px;
    display: unset;
    padding: 12px;
    text-decoration: none;
    outline: none;
    
  }
.taga ul{
    display: grid;
    
}

.taga ul li{
    padding: 10px;
    margin-left: -190px;
    margin-top: 30px;
}

.taga ul li:hover{
    background-color: #fff;
    transition: 1s;
}
.rodape{
    background-color: #023911;
    color: white;
    height: auto;
    width: 100%;
    font-size: 14px;
    font-family: helvetica;
}
.rodape a{
    text-decoration: none;
    color: white;
}
.rodape p{
    margin-bottom: 5px;
}
.rodape-div{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    margin: auto;
    align-items: stretch;
    padding: 60px 10px 40px 10px;
}
.rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4{
    display: flex;
    width: calc(100% / 4 - 20px);
    padding: 10px;
}
.rodape span{
    font-size: 20px;
    color: rgb(31, 216, 136);
}
.rodape-direitos{
    width: calc(100% - 20px);
    background-color: black;
    padding: 10px;
    margin: 0px;
    text-align: center;
}
/*mobile*/
@media (max-width: 768px) {
    .rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4{
        width: calc(50% - 20px);
        padding: 10px;
    }
    .rodape-div{
        padding: 60px 0px 40px 0px;
    }
}
